.yaraku-icon {
	display: inline-block;
	color: white;
	padding: 2px 4px;
	margin-right: 0.5em;
	background-color: #415684;
	border-radius: 10px;
}

#bookTable button.btn {
	line-height: 1.0 !important;
}